.center {
    text-align: center;
}

.table-box {
    margin: 50px auto;
}

.table-row {
    display: table;
    width: 90%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 16px;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 50, 0.3);
}

.table-head {
    background: #8665f7;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}

.table-head .table-cell {
    border-right: none;
}

.table-cell {
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}

.first-cell {
    text-align: left;
    padding-left: 10px;
}

.last-cell {
    border-right: none;
}

a {
    text-decoration: none;
    color: #555;
}


.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

/* Green */
.success {
    color: green;
}

.success:hover {
    background-color: #04AA6D;
    color: white;
}

/* Blue */
.info {
    color: dodgerblue;
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.danger {
    color: red;
}

.danger:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.default {
    color: black;
}

.default:hover {
    background: #e7e7e7;
}

@media only screen and (max-width: 600px) {
    .table-row {
        font-size: 11px;
    }
}